#zip-lookup {
  /* margin: 30px; */
  padding: 1.5rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
}

#main-container {
  width: 500px;
  position: relative;
}

#weather-icon-container {
  background-color: blue;
  display: grid;
  grid-template-columns: auto auto;
  width: 300px;
  position: absolute;
}
#city-name {
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
  font-size: large;
  margin: 0%;
}
body {
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: black;
  text-align: center;
}

#weather-icon img {
  max-width: 250px;
  margin-top: 5px;

  justify-self: center;
  align-self: center;
}
#temp-text-container {
  display: inline;
  text-align: center;
}
#temperature {
  align-self: center;
  text-align: center;
  font-size: 2rem;
  margin: 2px 3px;
  font-weight: bolder;
}
#weather-icon {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: left;
  margin-top: 3rem;
  height: 200px;
  background-color: beige;
}
.weatherDataText {
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: bold;
}
#zip-input-field {
  border: none;
  background-color: rgb(230, 230, 211);
  width: 250px;
  color: black;
  margin: 1rem;
  height: 3rem;
}
#main-container {
  margin: 20px;
}

#submit-button {
  margin: 1 rem;
}
